<div class="edit-user-container">
  <h3>Edit User Profile</h3>
  <table>
    <tr>
      <td>
        <span>Name :</span>
      </td>
      <td>
        <input [(ngModel)]="name" type='text' required> <br>
      </td>
    </tr>
    <tr>
      <td>
        <span>Email :</span>
      </td>
      <td>
        <input [(ngModel)]="email" type='text' required> <br>
      </td>
    </tr>
    <tr>
      <td>
        <span>Password :</span>
      </td>
      <td>
        <input [(ngModel)]="password" type='password' required> <br>
      </td>
    </tr>
  </table>
  <div class = "message"> {{message}} </div>
  <br>
  <button (click)= "updateUser()">Update</button>
  <button routerLink="../" >Cancel</button>
  <br>
</div>